#Списки и кортежи
Эти объекты - контейнеры, хранят другие данные

##списки
изменяемые итерируемые коллекции объектов произвольных типов. Записываются в квадратных скобках []

In [1]:
my_list = [5, 800.6, True, 'hello', [1221, 13654]] # в списке могут быть элементы разных типов
print(my_list)
print(len(my_list)) # длина списка, количество элементов
print(type(my_list))

[5, 800.6, True, 'hello', [1221, 13654]]
5
<class 'list'>

In [13]:
print(my_list[4][0], my_list[4][1])

1221 13654

In [5]:
for i in my_list:
  print(i)

5
800.6
True
hello
[1221, 13654]

In [6]:
# как создать список?
l = [] # по литералу, специальному символу, обозначающему список
print(l)

[]

In [7]:
# превратить итерируемый объект в список с помощью функции list()
s = 'hello'
print(list(s))

['h', 'e', 'l', 'l', 'o']

In [17]:
s = 'hello'
s_list = list(s)
print(s_list)
print("".join(s_list)) # метод join - позволяет создать строку из списка
print("!!!!!!!".join(s_list))

['h', 'e', 'l', 'l', 'o']
hello
h!!!!!!!e!!!!!!!l!!!!!!!l!!!!!!!o

###Методы списков
Напишем программу, которая к списку книг books добавит книгу по вашей
теме.

In [48]:
books = ['Блок М. Короли-чудотворцы', 'Гинзбург К. Сыр и черви']
books.append('Земон-Девис Н. Дамы на обочине') #добавить 1 элемент в конец списка
print(books)

['Блок М. Короли-чудотворцы', 'Гинзбург К. Сыр и черви', 'Земон-Девис Н. Дамы на обочине']

In [53]:
books.append('Земон-Девис Н. Дамы на обочине') #добавить 1 элемент в конец списка
print(books)

['Блок М. Короли-чудотворцы', 'Гинзбург К. Сыр и черви', 'Земон-Девис Н. Дамы на обочине', 'Земон-Девис Н. Дамы на обочине', 'Земон-Девис Н. Дамы на обочине', 'Земон-Девис Н. Дамы на обочине', 'Земон-Девис Н. Дамы на обочине', 'Земон-Девис Н. Дамы на обочине']

In [25]:
books = ['Блок М. Короли-чудотворцы', 'Гинзбург К. Сыр и черви']

#print(books + 'Земон-Девис Н. Дамы на обочине')
new_books = books + ['Земон-Девис Н. \n"Дамы на обочине"'] # сложение списков
print(*new_books) # * - оператор распаковки

Блок М. Короли-чудотворцы Гинзбург К. Сыр и черви Земон-Девис Н.
"Дамы на обочине"

In [28]:
print(new_books)
print(*new_books) # по умолчанию sep=" "
print(*new_books, sep=", ")

['Блок М. Короли-чудотворцы', 'Гинзбург К. Сыр и черви', 'Земон-Девис Н. \n"Дамы на обочине"']
Блок М. Короли-чудотворцы Гинзбург К. Сыр и черви Земон-Девис Н.
"Дамы на обочине"
Блок М. Короли-чудотворцы, Гинзбург К. Сыр и черви, Земон-Девис Н.
"Дамы на обочине"

In [31]:
for i in new_books:
  print(i)

Блок М. Короли-чудотворцы
Гинзбург К. Сыр и черви
Земон-Девис Н.
"Дамы на обочине"

In [30]:
for i in new_books:
  print(i, end=", ")

Блок М. Короли-чудотворцы, Гинзбург К. Сыр и черви, Земон-Девис Н.
"Дамы на обочине",

In [39]:
s = 'hello'
print(s[0:]) # верхняя граница не включается

hello

In [34]:
l = []
for i in range(0, 10 + 1): # запомнить: верхняя граница не включается
  i = i + 10
  l.append(i) # добавляем в конец, метод изменяет список
  print(i)
  print(l)
print(l)

10
[10]
11
[10, 11]
12
[10, 11, 12]
13
[10, 11, 12, 13]
14
[10, 11, 12, 13, 14]
15
[10, 11, 12, 13, 14, 15]
16
[10, 11, 12, 13, 14, 15, 16]
17
[10, 11, 12, 13, 14, 15, 16, 17]
18
[10, 11, 12, 13, 14, 15, 16, 17, 18]
19
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [35]:
books[1] = 'Новая книга'
print(books)

['Блок М. Короли-чудотворцы', 'Новая книга']

In [40]:
books.extend(["Веселовский. История земства за 40 лет", "Ле Руа Ладюри Э. Монтайю, окситанская деревня"]) #расширить список, добавив в конец все элементы, написанные в скобках метода extend
print(books)
# аналогично books + ["Веселовский. История земства за 40 лет", "Ле Руа Ладюри Э. Монтайю, окситанская деревня"]

['Блок М. Короли-чудотворцы', 'Новая книга', 'Веселовский. История земства за 40 лет', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']

In [41]:
books.insert(2, 'Арьес Ф. «Человек перед лицом смерти»')
print(books)
# списки можно перебирать по индексам
print(books[2])

['Блок М. Короли-чудотворцы', 'Новая книга', 'Арьес Ф. «Человек перед лицом смерти»', 'Веселовский. История земства за 40 лет', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']
Арьес Ф. «Человек перед лицом смерти»

In [42]:
books.remove('Блок М. Короли-чудотворцы') # удаление элемента из списка, если знаем его значение
print(books)

['Новая книга', 'Арьес Ф. «Человек перед лицом смерти»', 'Веселовский. История земства за 40 лет', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']

In [43]:
del books[2] # удаляем второй (считая с нуля) элемент из списка
print(books)

['Новая книга', 'Арьес Ф. «Человек перед лицом смерти»', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']

In [46]:
# доступ к индексу элемента по значению

print(books)
# аналогично методу .find для строк
print(books.index('Арьес Ф. «Человек перед лицом смерти»')) # посмотрим, на каком месте (считая от нуля) элемент
print(books.count("Веселовский. История земства за 40 лет")) # посмотрим, сколько раз встречается нужный элемент в списке

['Новая книга', 'Арьес Ф. «Человек перед лицом смерти»', 'Ле Руа Ладюри Э. Монтайю, окситанская деревня']
1
0

In [47]:
books.clear() # очистим список от всех элементов
print(books, "\nдлина списка = ", len(books)) # напечатаем список и его длину

[]
длина списка =  0

##Кортеж (tuple)
это неизменяемый список.

Зачем нужны кортежи, если есть списки?

1. Защита данных. Кортеж защищен от изменений, как намеренных (что плохо), так и случайных (что хорошо).
2. Меньший размер. Вам нужно меньше памяти, чтобы хранить данные

In [54]:
# сравним размеры в байтах

a = (1, 2, 3, 4, 5, 6) # кортеж
b = [1, 2, 3, 4, 5, 6] # лист/список

print("Size of the tuple: ",a.__sizeof__(),"\nsize of the list: ",b.__sizeof__())

Size of the tuple:  72
size of the list:  88

In [55]:
# как создать кортеж
a = tuple() 

print(a, "\n",type(a))

()
 <class 'tuple'>

In [56]:
# с помощью литерала кортежа ()
b = ()
print(b, "\n",type(b))

()
 <class 'tuple'>

In [58]:
# Создаем кортеж из одного элемента:
a = ('apple', )
print(a)
b = 'apple', 
print(b)

c = ('apple') # строка
print(c)

('apple',)
('apple',)
apple

кортежам доступны все операции над списками, не изменяющие список: сложение, умножение на число, методы index() и count(), можно работать с индексами и так далее.

In [62]:
# проверим, что кортежи не изменяются:
b = 'apple', 
b[0] = 'banana'
print(b)
# ошибка - кортеж нельзя изменить

TypeError: ignored

In [60]:
b = ['apple', 'lemon'] 
b[0] = 'banana'
print(b)

['banana', 'lemon']

#Множество (set)
это тоже "контейнер" для данных, но в отличие от листа(списка), он содержит уникальные, не повторяющиеся элементы.

Неупорядоченные типы данных

In [64]:
# создать множество с помощью функции set()
print(set([34,78,"banana"])) # они перемешались, индексы не работают 

print(set("hello there"))

tmp = "hello hello there"
print(set(tmp.split())) # split - из строки делает список
print(len(set(tmp.split())))

{'banana', 34, 78}
{'r', 'h', ' ', 't', 'e', 'o', 'l'}
{'hello', 'there'}
2

In [65]:
# множества удобно использовать для удаления повторяющихся элементов:

fruits = ["apples", "peaches", "cherries", "pears", "oranges", "persimmons"]
# задали список, сохранили в переменную

fruits.append("peaches")# добавим еще больше персиков

# давайте изменим тип объекта на set с помощью функции set()
fruits = set(fruits) #применили функцию, пересохранили переменную

print(fruits)

{'peaches', 'cherries', 'persimmons', 'apples', 'oranges', 'pears'}

In [66]:
new_set = {2}  # создали переменную, сложили в нее некоторые объекты
# можем складывать в множество объекты разных типов: числовые, строковые, логические

# давайте проверим, что new_set действительно множество
print(new_set, type(new_set))

{2} <class 'set'>

In [69]:
# Важно!!!! обратите внимание, что в отличие от листа, множество нельзя задать пустым литералом
another_set = {} # создали пустое....

# ....множество? Давайте проверим тип созданной переменной 

print(type(another_set)) 

new_set = set()
print(type(new_set))

<class 'dict'>
<class 'set'>

###Операции со множествами

In [70]:
cars = ["BMW","Toyota","Bentley","Jeep","Jeep"]

cars = set(cars)

#число элементов в множестве (размер множества).
len(cars)

4

In [71]:
# принадлежит ли элемент множеству (со списками, кортежами тоже работает)

print("BMW" in cars)
print("Chevrolet" in cars)

True
False

In [81]:
#добавляем элемент в множество

cars.add('789') # без порядкового номера, индексы не работают
print(cars)

{'Bentley', 'BMW', 'Renault', 'Toyota', 'Citroën', '789', 789, 'Peugeot'}

In [74]:
# добавляем множество во множество
french_cars = {"Peugeot", "Citroën", "Renault"}
cars.update(french_cars)
print(cars, len(cars))

{'Bentley', 'BMW', 'Renault', 'Toyota', 'Citroën', 789, 'Jeep', 'Peugeot'} 8

In [75]:
# удаляем элемент из множества. 
cars.remove("Jeep")
print(cars)
# KeyError, если такого элемента не существует.

{'Bentley', 'BMW', 'Renault', 'Toyota', 'Citroën', 789, 'Peugeot'}

In [76]:
cars.remove("Chevrolet")
print(cars)

KeyError: ignored

In [78]:
# Альтернативный вариант

cars.discard("Lamborgini") 
# удаляет элемент, если он находится в множестве.
# Если элемента нет, не возвращает сообщение об ошибке
print(cars)

{'Bentley', 'BMW', 'Renault', 'Toyota', 'Citroën', 789, 'Peugeot'}

In [85]:
print(cars)
print(cars)
print(cars)

{'Renault', 'Toyota', 'Citroën', '789', 789, 'Peugeot'}
{'Renault', 'Toyota', 'Citroën', '789', 789, 'Peugeot'}
{'Renault', 'Toyota', 'Citroën', '789', 789, 'Peugeot'}

TypeError: ignored

In [88]:
# удаляет первый элемент

print(cars.pop())
print(cars)
# запустите несколько раз, посмотрите на результат

Citroën
{'789', 789, 'Peugeot'}

In [92]:
# очищаем множество

cars.clear()
print(len(cars), "\n", cars)

0
 set()

###Свойства множеств (логические операции)

In [94]:
fruits = {'apples', 'cherries', 'oranges', 'peaches', 'pears', 'persimmons'}
fruits2 = {'apples', 'cherries', 'oranges', 'peaches', 'pears', 'persimmons', 'apples'}

berries = {"strawberry", "red currant"}

# сравнение множеств
print(fruits == berries)
 # True если все элементы одного принадлежат второму
print(fruits == fruits2)

False
True

In [95]:
# является ли подмножеством

berries.issubset(fruits) 
# print(berries <= fruits) 

# аналогично, но в обратную сторону
# fruits.issuperset(berries) 
# print(berries >= fruits)

False

In [97]:
# объединение нескольких множеств 

print(fruits.union(berries))
print(fruits | berries)

{'peaches', 'apples', 'cherries', 'persimmons', 'strawberry', 'oranges', 'pears', 'red currant'}
{'peaches', 'apples', 'cherries', 'persimmons', 'strawberry', 'oranges', 'pears', 'red currant'}

In [99]:
#  пересечение множеств (пустое, если нет общих элементов)

print(fruits.intersection(berries))
# print(fruits & berries)

cars = ["BMW","Toyota","Bentley","Jeep","Jeep"]
cars = set(cars)
french_cars = {"Peugeot", "Citroën", "Renault", "Jeep"}
print(cars.intersection(french_cars))

set()
{'Jeep'}

In [103]:
print(cars & french_cars)
print(cars | french_cars)
print(cars ^ french_cars) # только различное, симметрическая разница
print(cars - french_cars)

{'Jeep'}
{'Bentley', 'BMW', 'Renault', 'Toyota', 'Citroën', 'Peugeot', 'Jeep'}
{'Bentley', 'BMW', 'Renault', 'Toyota', 'Citroën', 'Peugeot'}
{'Bentley', 'BMW', 'Toyota'}

###еще один вид множества - frozenset
set изменяемый, frozenset - нет

In [104]:
a = set("random") #'r', 'a', 'n'....
b = frozenset('random')

print(a == b) # давайте сравним множества

True

In [105]:
print(a.intersection(b))
# print(a & b)

{'m', 'a', 'n', 'o', 'd', 'r'}

In [106]:
a.add(1) # изменим первое множество
a.remove("m")
print(a)
print(a.intersection(b))

{1, 'a', 'n', 'o', 'd', 'r'}
{'a', 'n', 'o', 'd', 'r'}

In [107]:
b.add(1)
# мы не можем добавлять в frozenset

AttributeError: ignored

#Словарь (dict)
коллекции произвольных объектов, записанные в виде пары ключ : значение (ключи уникальные, значения могут повторяться)

( словари =ассоциативные массивы = хеш-таблицы)

Давайте создадим словарь:

In [ ]:
#  помощью литерала {}
d = {}
print(d, type(d))

In [ ]:
d_names = {"Jane": ["London", 35], 'Olga': ["Moscow", 40], "Mike": ["Spb", 26]} 
# Jane, Olga - это ключи, списки - значения
print(d_names)

In [ ]:
# с помощью функции dict()
d = dict(A=67, B=903)
print(d)

In [ ]:
a = ["Jane", "Oleg", "Mia"]
b = [25, 27, 56]

res = zip(a,b)

print(list(res))

In [ ]:
#с помощью метода .fromkeys()
d = dict.fromkeys(['Jane'], ["LA", "Atlanta"])
print(d)

In [ ]:
d = dict.fromkeys(['a', 'b'], 100)
print(d)

In [ ]:
# получить значение по ключу (аналогично индексам)
d = {1: "A", 2: "B", 3: "C"}
print(d[2]) # достаем значение по ключу 2

In [ ]:
d[4] = "D" # добавляем пару, где ключ = 4, а значение = D
print(d) # посмотрим на весь словарь

In [ ]:
# аналогично добавим новую пару в словарь с именами

d_names["Jack"] = ["Toronto", 35]
print(d_names["Jack"])

In [ ]:
# перезапишем значение по ключу 

print(d[2])
d[2] = "W"
print(d[2])
print(d)

In [ ]:
# присвоение по новому ключу расширяет словарь;
# присвоение по существующему ключу перезаписывает его значение;
# попытка извлечения несуществующего ключа порождает исключение (KeyError).

###Методы словарей

In [ ]:
d = {'Jane': "London", 'Olga': "Moscow", "Paul" : "Paris", "Ivan" : "Minsk", "Anne" : "Copenhagen"}
print(d)

In [ ]:
# так можно посмотреть все значения всех ключей в словаре
print(d.values())

# так можно посмотреть все ключи в словаре
print(d.keys())

In [ ]:
# значения и ключи можно сохранить в отдельный лист
d_values = list(d.values())  
print(d_values)
d_keys = list(d.keys()) 
print(d_keys)

In [ ]:
# длина словаря -- это количество ключей 
print(len(d.keys()))

In [ ]:
# так можно посмотреть пары (ключ, значение) в виде списка кортежей
print(list(d.items()))

In [ ]:
# расширение словаря
new_dict = {"Alexander":"Bonn", "Julia":"Madrid"}

d.update(new_dict) # обновляет словарь, добавляя пары (ключ, значение)
print(d)

In [ ]:
print(d.pop("Jane")) # удаляет ключ и возвращает значение

In [ ]:
print(d.popitem()) # удаляет и возвращает пару (ключ, значение)

In [ ]:
# а так очищаем словарь
d.clear() 
print(d)

Все контейнеры можно перебирать циклами for и while